/* @import url("./Font/Paris2024-Variable.ttf"); */
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");

html {
  overflow-x: hidden;
}

.Head {
  width: 100%;
  min-height: 1600px;
  background-image: url("./Images/Mask\ group.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
.top_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px !important;
  height: 100px;
  padding: 0% 5%;
}
.menu {
  cursor: pointer;
}
.company_logo {
  position: relative;
  left: 12%;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
}
.tab_india {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.head_mid {
  /* border: 1px solid red; */
  padding: 5% 10%;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15%;
}
.head_mid .right {
  width: 45%;
  height: 100%;
  color: #fff;
  /* border: 1px solid red; */
}
.head_mid .right h1 {
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
}
.head_mid .right p {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.head_mid .left {
  width: 30%;
  height: 100%;
  color: #fff;
  /* border: 1px solid red; */
  font-size: 0.7rem;
}
.btn_live_registration button {
  background-color: #d7c378;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 5% 0% !important;

  font-family: Arial, Helvetica, sans-serif;
}
.left_content_header h3 {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container_latest_news {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news_box {
  flex-grow: 0;
  flex-shrink: 0;
  height: 115px;
  flex-basis: calc(30.33% - 20px);
  margin: 10px;
  padding: 0 15px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  gap: 10px;
  /* border: 1px solid red; */
  border-left: 1px solid rgb(185, 185, 185);
}
.news_box .news_content h3,
p {
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  font-family: sans-serif;
  transition: all 0.5s ease-in-out;
}
.news_box .news_content p {
  font-size: 0.8rem;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .news_box {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .news_box {
    flex-basis: calc(100% - 20px);
  }
}

.news_box:hover {
  /* border-radius: 20px; */
  background-color: rgba(221, 220, 220, 0.342);
  cursor: pointer;
}
.news_box:hover .news_content h3 {
  font-weight: bold;
  color: #81378f;
}

/* Medals */
.container_medals {
  padding: 3%;
  background-color: #f3f3f3;
}
.btns_m .medal_btns {
  padding: 2% 5%;
  border-radius: 25px;
  border: none;
  background-color: #81378f;
  color: #fff;
  cursor: pointer;
  margin-left: 3%;
  position: relative;
  top: -11% !important;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  font-weight: 700;
  border: 1px solid #81378f;
}
.btns_m .medal_btns:nth-child(2) {
  border: 1px solid #81378f;
  background-color: #f3f3f3;
  color: #81378f;
  font-weight: 700;
  width: 21%;
  transition: all 0.6s ease-in-out;
}
.btns_m .medal_btns:nth-child(2):hover {
  background-color: #81378f;
  border: 1px solid #fff;
  color: #fff;
}
/* .btns_m .medal_btns:nth-of-type(1):hover {
  background-color: #fff;
  color: #81378f;
} */
.container_medals .inner_medals_container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container_medals .inner_medals_container .medals_left {
  min-width: 55%;
}
/* .container_medals .inner_medals_container .medals_left .medals_head {
} */

.container_medals .inner_medals_container .medals_right {
  width: 40%;
}

.schedule_image {
  background-color: #f3f3f3;
  padding: 2%;
  /* height: 1000px; */

  background-image: url("./Images/Schedule/Rectangle\ 4591.png");
}
.inner_schedule {
  width: 80%;
  margin: auto;
}

.schedule_image .schedule_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.schedule_image .schedule_head .dropdown_btns {
  margin-right: 2%;
}

.schedule_image .inner_schedule .schedule_table {
  /* border: 1px solid #000; */
  margin-top: 2%;
}

/* Mascot */
.mascot_container {
  background-color: #f3f3f3;
  padding: 3% 0%;
}
.mascor_head {
  position: relative;
  top: 12%;
  left: 5%;
}

.mascot_container .mascot_inner_container {
  width: 70%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  display: flex;
}
.mascot_container .mascot_inner_container .mascot_left {
  padding: 5%;
}
.mascot_container .mascot_inner_container .mascot_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.moscat_p {
  font-size: 12px;
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.inner_image_moscat {
  position: absolute;
  top: 13%;
  left: 22%;
}
.mascot_btn {
  color: #fff;
  padding: 1.5% 8%;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  background: rgb(157, 11, 135);
  background: linear-gradient(
    94deg,
    rgba(157, 11, 135, 1) 0%,
    rgba(34, 40, 100, 1) 97%
  );
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Conversation */
.conversation {
  display: flex;
  /* min-height: 1000px; */
}
.left_conversation {
  width: 46%;
  padding: 5%;
  background-color: #fff;
}
.right_conversation {
  width: 40%;
  /* background-image: url("./Images/Conversation/Rectangle\ 4591.png");
  background-repeat: no-repeat; */
}
.para {
  padding: 2% 0%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.conversation_heading {
  padding: 2% 0%;
}
.uttrakhand_games {
  padding: 2% 0%;
}
.unique_table {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
}

/* sports_container */
.sports_container {
  background-color: #f3f3f3;
  padding: 3%;
  background-image: url("./Images/Sports/Rectangle\ 4606.png");
  background-repeat: no-repeat;
}
.container_sports {
  width: 80%;
  margin: auto;
}
.social {
  display: flex;
  justify-content: space-between;
  margin: 50px 0%;
}
.social_left {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.social_left .followUs {
  margin-bottom: 15%;
}
.social_right {
  width: 50%;
}
.social_media {
  display: inline-block;
  width: 200px;
}
.social_media ul {
  display: flex;
  color: #000 !important;
  justify-content: space-around;
}

.social_media ul li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

/* stadium */
.stadium {
  background: rgb(255, 223, 140);
  background: linear-gradient(
    180deg,
    rgba(255, 223, 140, 1) 72%,
    rgba(255, 242, 209, 1) 92%
  );
  width: 50%;
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
}
.stadium_img img {
  border-radius: 20px;
  /* border: 4px solid red; */
}
.stadium_intro {
  padding: 4%;
}
.stadium_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.explore_stadium {
  border: none;
  padding: 1% 8%;
  border-radius: 7px;
  cursor: pointer;
}
.westIconClass {
  position: absolute;
  left: 30%;
  top: 32%;
  color: rgb(255, 255, 255);
}

.gallery_container {
  /* padding: 6%; */
  background-color: #f3f3f3;
  /* height: 1000px; */
  width: 100%;
  background-image: url("./Images/Gallery/Rectangle\ 4605.png");
  background-repeat: no-repeat;
  margin-top: 3%;
}
.gallery_heading {
  padding: 4%;
}
.arrowsPosiion {
  position: relative;
  top: 5px;
  left: 35px;
}

.gallery_crousal {
  position: relative;
  top: -10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Align items with equal space between them */
}

.boxs_gallery {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  display: flex; /* Ensure content is centered vertically */
  flex-direction: column; /* Stack content vertically */
}

.img_cover_gallery {
  flex: 1; /* Allow the image container to expand to fill the space */
}

.img_cover_gallery img {
  max-width: 80%;
  height: auto;
}
.cover_intro_p {
  width: 60%;
  margin: auto;
  font-family: cursive;
}
.buttons_gallery {
  display: flex;
  width: 20%;
  padding: 5px 5px 5px 0px;
  justify-content: start;
  align-items: center;
  margin-top: 1%;
}
.left_button_g {
  border: none;
  background: none;
  padding: 0%;
  cursor: pointer;
  position: relative;
}

.right_button_g {
  border: none;
  background: none;
  padding: 0%;
  cursor: pointer;
}
/* html {
  overflow: hidden;
} */
.app {
  background-color: #f3f3f3;
  width: 100%;
  overflow: hidden;
}

/* Partners Start*/

.partners {
  width: 100%;
  margin-top: 50px;
}
.partners_container {
  width: 80%;
  margin: auto;
}
.games_partners_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  margin-top: 50px;
}

.games_partners_box img {
  width: 20%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add spacing between images */
  /* border: 1px solid #000; */
  cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .games_partners_box img {
    flex-basis: calc(50% - 20px); /* Two images per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .games_partners_box img {
    flex-basis: calc(
      100% - 20px
    ); /* Single image per row on even smaller screens */
  }
}

/* Partners End */

/* NationalGames Start */
.nationalGames {
  margin: 50px 0px 0px 0px;
}
/* NationalGames End */

/* Footer Start */
.Footer {
  width: 100%;
  background-color: #0c2e5e;
  width: 100%;
  padding: 5% 0%;
  min-height: 740px;
  background-image: url("./Images/Footer/Mask\ group.png");
  background-position: 0% center;
}
.footer_container {
  width: 90%;
  margin: auto;
  /* border: 1px solid #000; */
  display: flex;
}
.secA {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.helpline {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hlp_btn {
  position: relative;
  padding: 7% 30%;
  font-size: 1rem;
  color: #0c2e5e;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 10px;
  border: none;
  top: -8px;
}
.blockA {
  max-height: 700px; /* Set maximum height */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

.columns {
  display: flex;
  justify-content: space-between; /* Space evenly between columns */
}

.column {
  flex: 1; /* Allow columns to grow equally */
}

ul {
  list-style: none;
  padding: 0;
}

/* Media query to adjust layout for smaller screens */
@media (max-width: 768px) {
  .columns {
    flex-direction: column; /* Stack columns vertically */
  }
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.apps img {
  margin-top: 10px;
}
.secA h2 {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
.secA ul li {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
}
.reddit {
  float: right;
}
.copy {
  width: 100%;
  height: 50px;
  background-color: #011d46;
}
.copy_container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy_container {
  color: #fff;
}

/* Footer End */

.medal_tally {
  /* border: 2px solid black; */
  width: 100%;
  /* background-color: #fff; */
  padding: 2%;
}
.medal_header {
  display: flex;
  align-items: center;
  gap: 30px;
}
.medal_header h1 {
  font-size: 4rem;
  font-family: cursive;
  background: #8f8250;
  background: linear-gradient(to right, #8f8250 0%, #2d2919 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.medal_table {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.multiple_medals {
  border: 2px solid gray !important;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 5% 0%;
  display: flex;
}
.left_table {
  width: 30%;
}
.right_table {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}
.rows td {
  padding: 2%;
  width: 5%;
  z-index: 2;
}
.grandTotal {
  padding: 3%;
  width: 30px;
}
.overlap_table {
  width: 160px;
  height: 360px;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 12%;
  left: 15%;
}

.unique_d {
  z-index: 11;
  width: 20%;
  /* border: 1px solid red;
  position: absolute;
  top: 41%; */
}
.btns_m {
  margin: 5% 0%;
}

.schedule_heading {
  font-size: 4rem;
  margin: 0%;
  padding: 0%;
  background: #ac88a7;
  background: linear-gradient(to right, #ac88a7 0%, #4d607c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: "Paris2024-Variable"; */
  font-family: "cursive";
}

.s_table {
  width: 100%;
}

.schedule_table {
  width: 100%;
  border-collapse: collapse; /* Add this line */
}

.schedule_table thead tr {
  background-color: #81378f;
  color: #fff;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.schedule_table th,
.schedule_table td {
  padding: 10px; /* Adjust padding as needed */
  text-align: left; /* Align text to the left */
}

/* Remove borders */
/* .schedule_table th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
.schedule_table th,
.schedule_table td {
  /* border: none; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  font-family: cursive;
  font-size: 1.3rem;
}
.venues {
  width: 20%;
}

.Conversation_headin {
  color: #81378f;
  font-size: 6rem;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.uttrakhand_games {
  font-size: 2rem;
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.upContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottomContainer {
  border-top: 1px solid gray;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.unique_box {
  width: 100%;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 14%;
}
.boxx {
  width: 40%;
  height: 200px;
  /* border: 1px solid #000; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.6s ease-in-out;
}
.boxx:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.boxx p {
  font-size: 1.5rem;
  margin: 0%;
  padding: 0%;
}
.box_inner p {
  color: gray;
  font-size: 1.2rem;
  margin: 0%;
  padding: 0%;
}
.boxx h1 {
  font-size: 3rem;
  margin: 0%;
  padding: 0%;
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
}
.brs {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.brs2 {
  border-left: 1px solid gray;
}
.sportsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxs_sports {
  width: calc(15% - 20px); /* Adjust width to fit 3 items per row */
  margin: 10px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/Sports/frame_image.png");
  background-repeat: no-repeat;
}

.boxs_sports img {
  position: relative;
  left: 12%;
  max-width: 100%;
  max-height: 100%;
}

.boxs_sports p {
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1024px) {
  .boxs_sports {
    width: calc(50% - 20px); /* Adjust width to fit 2 items per row */
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 768px) {
  .boxs_sports {
    width: calc(100% - 20px); /* Adjust width to fit 1 item per row */
  }
}
.followUs {
  color: #81378f;
  font-size: 6rem;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.compitationZone {
  margin: 0%;
  padding: 0%;
  font-size: 5rem;
  background: #ceb5c3;
  background: linear-gradient(to right, #ceb5c3 0%, #8d5182 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.up_container_sports {
  display: flex;
  /* border: 1px solid #000; */
  padding: 0% 12%;
  justify-content: space-between;
  align-items: center;
}
.sports_heading {
  color: #8d5182;
  font-size: 5rem;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.sprts_btn {
  padding: 1% 3%;
  border: none;
  border-radius: 25px;
  background: rgb(155, 11, 135);
  background: linear-gradient(
    90deg,
    rgba(155, 11, 135, 1) 36%,
    rgba(33, 40, 100, 1) 92%
  );
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.6s ease-in-out;
  line-height: 1;
}
.sprts_btn:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}
.tab_india_block {
  /* border: 1px solid #000; */
  background-color: #fff;
  width: 40%;
  border-radius: 50px;
  height: 70px;
  display: flex;
  padding: 5px 2%;
}
.images_tabIndia {
  width: 65%;
  border: 1px solid #000;
  display: flex;
  border-radius: 2px;
  justify-content: center;
}
.days_hrs {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.days h1 {
  font-size: 1.5rem;
  margin: 0%;
  padding: 0%;
  font-family: cursive;
}
.days p {
  font-family: cursive;
}
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer h1 {
  margin: 0%;
  padding: 0%;
  font-size: 1.5rem;
  font-family: cursive;
}
.timer p {
  font-family: cursive;
}
.hrsT {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mascot_heading p,
h1 {
  color: #8d5182;
}
.mascot_heading h1 {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}
.mascot_heading p {
  margin: 0%;
  padding: 0%;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}
.moscat_p {
  width: 80%;
}
.social_right {
  position: relative;
}
.dropdown_compitation_component {
  position: absolute;
  top: 2%;
  left: 0%;
}
.flag {
  position: absolute;
  top: 40%;
  left: 30%;
}

/* Partners */
.partners {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 40%; */
}
.line1 {
  border: 1px solid gray;
  width: 38%;
}
.part {
  min-width: 20%;
  text-align: center;
  /* padding: 10px; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-weight: 600; */
  font-family: "Times New Roman", Times, serif;
}
.line2 {
  border: 1px solid gray;
  width: 38%;
}
/* Partners */
.nationalGames {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.numbers_UI {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.numbers_UI .row1 h1 {
  color: #000;
  /* color: #b8b6b6; */
  text-align: center;
  font-size: 12rem;
  margin: 0%;
  padding: 0%;
}
.national_Games_board {
  /* border: 1px solid #000; */
  padding: 2%;
  width: 15%;
  height: 380px;
  position: absolute;
  bottom: 10%;
  left: 15%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: -8px 10px 5px 0px rgba(232, 232, 232, 1);
  -moz-box-shadow: -8px 10px 5px 0px rgba(232, 232, 232, 1);
  box-shadow: -8px 10px 5px 0px rgba(232, 232, 232, 1);
}
.innerPs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
}
.innerPs p {
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
}
.innerPs .days_hrs .days h1,
p {
  color: #000;
}
.innerPs .days_hrs .timer .hrsT h1,
p {
  color: #000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small devices */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* CSS rules for small devices */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* CSS rules for medium devices */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* CSS rules for large devices */
}

@media only screen and (max-width: 1400px) {
  /* CSS rules for extra large devices */
  .social_left {
    width: 50%;
    padding: 2%;
  }
  .headP img {
    width: 100%;
  }
  .nationalGames img {
    width: 100%;
  }
  .head_mid .right {
    width: 70%;
    /* border: 1px solid red; */
  }
}

@media only screen and (max-width: 1500px) {
  /* CSS rules for extra large devices */
  .social_media img {
    width: 100%;
  }
  .footer_container {
    width: 97%;
  }
  .container_medals .inner_medals_container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .medals_left img {
    width: 90%;
  }
  .container_medals {
    padding: 0%;
    margin-top: 70px;
  }
  .btns_m {
    display: none;
  }
  .container_medals .inner_medals_container .medals_left {
    min-width: 40%;
    padding: 0% 10%;
  }
  .mascot_container .mascot_inner_container {
    width: 90%;
  }
  .left_conversation {
    padding: 2%;
    width: 55%;
  }
  .conversation_heading img {
    width: 60%;
  }
  .unique_table img {
    width: 100%;
  }
  .right_conversation img {
    width: 100%;
  }
  .conversation {
    justify-content: center;
  }
  .container_sports {
    width: 95%;
  }
  .social_right img {
    width: 100%;
  }
  .CompitationZone_heading img {
    width: 95%;
  }
  .gallery_crousal {
    position: relative;
    top: -5%;
  }
  .partners_container {
    width: 100%;
    margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  /* CSS rules for extra large devices */
  .tab_india_block {
    width: 60%;
  }
  .images_tabIndia {
    width: 60%;
  }
  .right_table {
    /* display: flex; */
    /* justify-content: space-evenly; */
    width: 60%;
  }
  .right_table img {
    width: 20%;
  }
  .overlap_table {
    display: none;
  }
  .schedule_image {
    padding: 0;
  }
  .inner_schedule {
    width: 99%;
    margin: auto;
  }
  .boxx {
    width: 30%;
    padding: 10px;
  }
  .boxx p {
    font-size: 1.2rem;
  }
  .boxx p {
    font-size: 1rem;
  }
  .boxx h1 {
    font-size: 2rem;
  }
  .boxx {
    height: 150px;
  }
  .Conversation_headin {
    color: #81378f;
    font-size: 4rem;
  }
  .uttrakhand_games {
    font-size: 1.4rem;
  }
  .para {
    padding: 2% 0%;
    font-size: 1.5rem;
  }
  .unique_box {
    width: 100%;
    margin: auto;
    height: 350px;
  }
  .unique_box {
    width: 100%;
    margin: auto;
    height: 350px;
    margin-top: 10%;
  }
  .sports_container {
    background-color: #f3f3f3;
    padding: 0%;
  }
  .container_sports {
    width: 100%;
  }
  .up_container_sports {
    display: flex;
    /* border: 1px solid #000; */
    padding: 0% 2%;
  }
  .boxs_sports {
    width: calc(25% - 20px);
    height: 250px;
  }
  .followUs {
    color: #81378f;
    font-size: 4rem;
  }
  .compitationZone {
    margin: 0%;
    padding: 0%;
    font-size: 3rem;
    text-align: center;
  }
  .social_right img:nth-child(2) {
    /* border: 1px solid #000; */
    width: 15%;
  }
  .numbers_UI .row1 h1 {
    color: #000;
    /* color: #b8b6b6; */
    text-align: center;
    font-size: 7rem;
  }
  .national_Games_board {
    /* border: 1px solid #000; */
    padding: 2%;
    width: 20%;
  }
  .nationalGames img {
    width: 80%;
  }
  .Head {
    min-height: 100px;
  }
  .container_latest_news {
    max-width: 100%;
  }
  .news_box {
    flex-basis: calc(45% - 20px);
  }
  .container_medals .inner_medals_container .medals_left {
    min-width: 40%;
    padding: 0% 4%;
  }
  .container_medals .inner_medals_container .medals_right {
    width: 50%;
  }
  .schedule_image .schedule_head .dropdown_btns {
    width: 70%;
    margin-right: 2%;
  }
  .mascot_container .mascot_inner_container {
    width: 100%;
  }
  .head_mid {
    padding: 5% 0%;
  }
  .stadium {
    width: 70%;
  }
  .gallery_headingImg {
    width: 50%;
  }
  .left_button_g img {
    width: 80%;
  }
  .right_button_g img {
    width: 85%;
  }
  .westIconClass {
    position: absolute;
    left: 30%;
    top: 24%;
  }
}

@media only screen and (max-width: 1000px) {
  .days h1 {
    font-size: 1.2rem;
  }
  .timer h1 {
    font-size: 1.2rem;
  }
  .tab_india_block {
    width: 72%;
  }
  .images_tabIndia {
    width: 64%;
  }
  .head_mid .right {
    flex-direction: column;
  }
  /* .head_mid .right {
    width: 55%;
  } */
  .head_mid .right {
    width: 65% !important;
  }
  .head_mid .right p {
    width: 100%;
  }
  .medal_header h1 {
    font-size: 3rem;
  }
  /* .medals_left img:nth-child(1) {
    width: 70%;
  } */
  .container_medals .inner_medals_container .medals_right {
    width: 75%;
    display: none;
  }
  .container_medals .inner_medals_container .medals_left {
    min-width: 90%;
    padding: 0% 4%;
  }
  .right_table img {
    width: 10%;
  }
  .container_medals .inner_medals_container {
    margin-bottom: 6%;
  }
  .sports_heading {
    color: #8d5182;
    font-size: 4rem;
  }
  .up_container_sports {
    padding: 3% 2%;
  }
  .social_left {
    align-items: center;
  }
  .followUs {
    color: #81378f;
    font-size: 6rem;
  }
  .compitationZone {
    font-size: 4rem;
  }
  .CompitationZone_heading {
    padding: 5% 0%;
  }
  .stadium {
    width: 43%;
  }
  .footer_container {
    flex-direction: column;
  }
  .mascot_heading p,
  h1 {
    color: #8d5182;
    font-size: 1.3rem;
  }
  .numbers_UI .row1 h1 {
    font-size: 6rem;
  }
  .national_Games_board {
    /* border: 1px solid #000; */
    padding: 1%;
    width: 25%;
  }
  .national_Games_board {
    /* border: 1px solid #000; */
    padding: 2%;
    width: 25%;
    height: 320px;
  }
  .tab_india_block {
    width: 72%;
    /* flex-direction: column; */
    align-items: center;
  }
  .schedule_table th,
  .schedule_table td {
    font-size: 0.7rem !important;
  }
  .schedule_heading {
    font-size: 3rem;
  }
  .mascot_heading h1 {
    font-size: 2rem;
  }
  .mascot_container .mascot_inner_container {
    width: 92%;
  }
  .inner_image_moscat {
    position: absolute;
    top: 22%;
    left: 18%;
  }
  .boxs_sports {
    width: calc(34% - 20px);
    height: 250px;
  }
  .followUs {
    color: #81378f;
    font-size: 5rem;
  }
  .compitationZone {
    font-size: 3rem;
  }
  .stadium {
    width: 50%;
  }
  .images_tabIndia {
    width: 50%;
  }
  .tab_india img {
    width: 16% !important;
  }
  .head_mid .right h1 {
    font-size: 3.5rem;
  }
  .schedule_table th,
  .schedule_table td {
    font-size: 1rem;
  }
  .secA {
    height: 300px;
  }
  .games_2024 {
    position: relative;
    left: -16%;
    width: 110%;
  }
  .games_2024 {
    position: relative;
    left: 0%;
    width: 100%;
  }
  .apps img {
    width: 60%;
  }
  .secA h2 {
    font-size: 1.3rem;
  }
  .secA ul li {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    font-size: 0.8rem;
  }
  .helpline {
    width: 25%;
  }
  .copy_container {
    color: #fff;
    font-size: 0.7rem;
  }
  .blockA {
    max-height: 700px;
    overflow-y: hidden;
  }
  .tab_india img {
    width: 60%;
  }
  .hlp_btn {
    position: relative;
    padding: 4% 13%;
  }
  .head_mid {
    flex-direction: column;
    margin-top: 2%;
    gap: 50px;
  }
  .head_mid .right {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head_mid .left {
    width: 80%;
    display: flex;
  }
  .left_content_header {
    text-align: center;
  }
  .left_content_header h3 {
    font-size: 1rem;
  }
  .btn_live_registration {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .company_logo {
    position: relative;
    left: 5%;
  }
  .container_medals .inner_medals_container .medals_right {
    width: 75%;
  }
  .schedule_head span img {
    width: 80%;
  }
  .dropdown_btns button {
    width: 100px;
    font-size: 0.7rem;
    /* padding: 0px 16px; */
    padding: 0%;
    line-height: 3;
  }
  .arrowsPosiion {
    position: relative;
    top: 5px;
    left: 5px;
  }
  .inner_image_moscat {
    position: absolute;
    top: 23%;
    left: 22%;
  }
  .mascor_head {
    position: relative;
    top: 0%;
    left: 5%;
  }
  .right_conversation {
    /* width: 50%; */
    display: none;
  }
  .left_conversation {
    padding: 2%;
    width: 96%;
  }
  .social_right {
    width: 50%;
    display: none;
  }
  .social {
    display: flex;
    justify-content: center;
    margin: 50px 0%;
  }
  .compitation_left_EX {
    width: 80%;
  }
  .CompitationZone_heading {
    padding: 5%;
  }
}
@media only screen and (max-width: 700px) {
  .numbers_UI .row1 h1 {
    font-size: 4rem;
  }
  .nationalGames img {
    width: 50%;
  }
  .innerPs p {
    text-align: center;
    font-size: 0.9rem;
  }
  .national_Games_board {
    height: 235px;
  }
  .days h1 {
    font-size: 0.8rem;
  }
  .timer h1 {
    font-size: 0.8rem;
  }
  .hrsT {
    padding: 5px;
  }
  .innerPs p {
    /* text-align: center; */
    font-size: 0.7rem;
  }
  .head_mid .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container_medals .inner_medals_container .medals_right {
    width: 100%;
  }
  .schedule_image .schedule_head .dropdown_btns {
    width: 90%;
    margin-right: 2%;
  }
  .mascot_container {
    padding: 0%;
  }
  .mascot_container .mascot_inner_container .mascot_right {
    width: 60%;
  }
  .inner_image_moscat {
    position: absolute;
    top: 26%;
    left: 20%;
  }
  .social_left {
    width: 70%;
    padding: 2%;
  }
}
@media only screen and (max-width: 500px) {
  .copy_container {
    color: #fff;
    font-size: 0.5rem;
  }
  .helpline {
    width: 50%;
  }
  .tab_india img {
    width: 80%;
  }
  .container_medals .inner_medals_container .medals_right {
    width: 122%;
  }
  .schedule_head span img {
    width: 100%;
  }
  .schedule_head span img {
    width: 100%;
    position: relative;
    top: 31%;
  }
  .schedule_image .schedule_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .schedule_image .schedule_head .dropdown_btns {
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
  }
  .mascot_container .mascot_inner_container .mascot_right {
    width: 60%;
    display: none;
  }
  .social_left {
    width: 100%;
    padding: 2%;
  }
  .followUs img {
    width: 80%;
  }
  .uttrakhand_social img {
    width: 80%;
  }
  .gallery_container {
    min-height: 300px;
  }
  .gallery_crousal {
    position: relative;
    top: -10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .gallery_container {
    background-image: none;
  }
  .buttons_gallery {
    display: none;
  }
  .gallery_headingImg {
    width: 100%;
  }
  .images_tabIndia {
    display: none;
    width: 50%;
  }

  .days_hrs {
    width: 65%;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .head_mid .right {
    width: 90% !important;
  }
  .head_mid .left {
    width: 95%;
  }
  .left_content_header h3 {
    font-size: 1.4rem;
  }
  .news_box {
    flex-basis: calc(95% - 20px);
  }
  .mascot_container .mascot_inner_container {
    width: 100%;
  }
  .sports_heading {
    color: #8d5182;
    font-size: 3rem;
  }
  .boxs_sports {
    width: calc(57% - 20px);
    height: 250px;
  }
  .sprts_btn {
    padding: 3% 3%;
  }
  .compitationZone {
    font-size: 2rem;
  }
  .stadium {
    width: 75%;
  }
  .numbers_UI .row1 h1 {
    font-size: 3rem;
  }
  .nationalGames img {
    width: 60%;
  }
  .national_Games_board {
    height: 145px;
  }
  .days h1 {
    font-size: 0.7rem;
  }
  .days {
    padding: 0px;
  }
  .hrsT {
    padding: 1px;
  }
  .innerPs p {
    /* text-align: center; */
    font-size: 0.5rem;
  }
  .timer h1 {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 400px) {
  .head_mid .right img {
    width: 100% !important;
  }
  .head_mid .left {
    width: 95%;
  }
  .news_box {
    flex-basis: calc(100%);
  }
  .news_box {
    display: flex;
    flex-basis: calc(100%);
    justify-content: center;
  }
  .news_box img {
    width: 90%;
  }
  .container_medals .inner_medals_container .medals_right {
    display: none;
  }
  .medals_left img {
    width: 100%;
  }
  .mascor_head {
    position: relative;
    top: 0%;
    left: 0%;
  }
  .moscat_p {
    width: 80%;
  }
  .followUs img {
    width: 95%;
  }
  .uttrakhand_social img {
    width: 95%;
  }
  .stadium {
    width: 90%;
  }
}
